//
//  APICredentials.xcconfig
//  EATWidget
//
//  Created by Adrian Vatchinsky on 2/14/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


API_KEY_ALCHEMY = pEOwuvw2OF6MWspIvb7m3RAFEYeEyP6p
API_KEY_ETHERSCAN = AIGTQC6I35XHC132KY4UKEGXRFEAJ16XQ6
